.header {
    background-color: #95D7AE;
    color: #454851;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px 10px;
}

.header__icon {
    height: 40px;
    width: 40px;
}

.header__container {
    display: flex;
}

.header__link:last-of-type {
    margin-left: 10px;
}

.header__paragraph {
    flex-basis: 100%;
    font-weight: normal;
}

.header__button {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 50px;
    border:none;
    outline: none;
    background-color: #7BAE7F;
    color: #454851;
    transition: opacity 0.5s;
    cursor: pointer;
    border: 0.5px solid #454851;
}